*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato" Verdana, Geneva, Tahoma, sans-serif;
    height: 1400px;
    background-image: url("../images/ap-x-90-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: "Lato" Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: darkred;
}

#description {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 20px;
    max-width: 500px;
    text-align: center;
}

#survey-form {
    /* display: block; */
    margin: 60px auto;
    width: 90%;
    background-color: #374620;
    border-radius: 30px;
    padding: 10px 5px 20px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
}

.form-group {
    font-size: 0.9rem;
    display: block;
    width: 90%;
    margin: 20px auto;
    color: #ffffff;
}

.form-control {
    margin-top: 5px;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
}

.radio {
    padding: 5px 0 0 10px;
    font-size: 0.8rem;
    font-weight: 400;
}
.radio-options {
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.checkbox {
    padding: 5px 0 0 10px;
    font-size: 0.8rem;
    font-weight: 400;
}

label {
    padding-bottom: 20px;
}

textarea {
    width: 100%;
    margin: 10px 0;
    height: 170px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* .button-group {
    display: block;
    justify-items: center;
} */

/* .button-group {
    font-size: 0.9rem;
    display: block;
    width: 100%;
    color: #ffffff;
} */

button {
    /* margin: 20px auto 0; */
    background-color: #7f807f;
    border: none;
    font-size: 1.3rem;
    padding: 5px;
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #579357;
    font-size: 1.5rem;
}

/* media */

@media (min-width: 800px) {

    #description {
        margin: 0 auto;
        max-width: 500px;
        /* text-align: center; */
    }

    #survey-form {
        /* background-color: #759446; */
        padding: 30px;
    }

    .form-group {
        margin: 20px 0;
    }

    .top-container {
        display: flex;
        justify-content: space-between;
    }

    .right-container {
        width: 500px;
        margin: 80px 0 0 0px;
        /* justify-items: center; */
        align-content: space-between;
    }

    .checkbox-options {
        display: flex;
        justify-content: right;
        margin-top: 5px;
    }
    /* .checkbox-subgroup {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        align-items: baseline;
    } */

    .bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .textbox-group {
        width: 70%;
        align-self: end;
    }

    textarea {
        padding: 0;
    }

    .button-group {
        display: flex;
        justify-items: right;
        width: 30%;
        align-items: end;
    }


    /* .form-group btn {
        align-items: baseline;
    } */
}
